</div>
<footer class="c-footer">
  {block:PreviousPage}
    <a href="{PreviousPage}">&larr; Previous</a>
  {/block:PreviousPage}{block:NextPage}
    <a href="{NextPage}">Next &rarr;</a>
  {/block:NextPage}
</footer>

<script type="module" crossorigin src="https://static.tumblr.com/xo6rund/ywQtatl54/index.js"></script>
</body>
</html>
