</div>
<footer class="c-footer">
  {block:PreviousPage}
    <a href="{PreviousPage}">&larr; Previous</a>
  {/block:PreviousPage}{block:NextPage}
    <a href="{NextPage}">Next &rarr;</a>
  {/block:NextPage}
</footer>

<script src="https://static.tumblr.com/xlsgtjb/gF9qvcaqa/scripts.js"></script>
</body>
</html>
