<%
pageId = "index";
%>
<%- include('./partials/header.ejs') %>
<script type="module" src="./scripts/main.js"></script>

<main class="l-main">

  <%# index %>
  {block:IndexPage}

    <div class="l-grid">
      {block:Posts}

        <!--NPF & Legacy Text Posts-->
        {block:Text}
          <div class="post post-text" data-permalink="{Permalink}">
            {block:Title}
              <h3><a href="{Permalink}">{Title}</a></h3>
            {/block:Title}

            <!--Original Post-->
            {block:NotReblog}
              {Body}

              <div class="post_foot">
                <!-- 作成日 -->
                <p class="post_date">
                  {block:Date}
                    <a href="{Permalink}"><span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span></a>
                  {/block:Date}
                </p>
                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
              </div>
            {/block:NotReblog}

            <!--Post is a reblog-->
            {block:RebloggedFrom}
              <div class="reblog-trail">
                {block:Reblogs}
                  <div class="reblog-trail-item">
                    <div class="reblog-trail-body">{Body}</div>
                  </div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                {/block:Reblogs}
              </div>
            {/block:RebloggedFrom}

            <!-- リアクションボタン -->
            <!-- <ul class="post_buttons">
              <li class="post_button">{ReblogButton}</li>
              <li class="post_button">{LikeButton}</li>
            </ul> -->
          </div>
        {/block:Text}

        <!--All Answer posts including NPF-->
        {block:Answer}
            <div class="post post-answer">
                <p><strong>{Asker}</strong> asked:</p>
                {Question}
                {block:Answerer}
                    {Answer}
                {/block:Answerer}
                <!--Original Post-->
                {block:NotReblog}
                    {Replies}
                {/block:NotReblog}
                <!--Post is a reblog-->
                {block:RebloggedFrom}
                  <div class="reblog-trail">
                    {block:Reblogs}
                      <div class="reblog-trail-item">
                        <div class="reblog-trail-body">{Body}</div>
                        <p class="reblog-trail-user">
                          {block:IsActive}
                            <a href="{Permalink}">{Username}</a>
                          {/block:IsActive}
                          {block:IsDeactivated}
                            <span>{Username}</span>
                          {/block:IsDeactivated}
                        </p>
                      </div>
                    {/block:Reblogs}
                  </div>
                {/block:RebloggedFrom}

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
        {/block:Answer}

        <!--Legacy Photo Posts-->
        {block:Photo}
          <div class="post post-photo">
            <div class="post_photo">
              <img src="{PhotoURL-500}" alt="{PhotoAlt}"/>
            </div>
            <!-- これはフォトコンテンツ -->
            <!--Original Post-->
            {block:NotReblog}
              {Caption}
              <div class="post_foot">
                <!-- 作成日 -->
                <p class="post_date">
                  {block:Date}
                    <a href="{Permalink}"><span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span></a>
                  {/block:Date}
                </p>
                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
              </div>
            {/block:NotReblog}
            <!--Post is a reblog-->
            {block:RebloggedFrom}
              <div class="reblog-trail">
                {block:Reblogs}
                  <div class="reblog-trail-item">
                    <div class="reblog-trail-body">{Body}</div>
                    <p class="reblog-trail-user">
                      {block:IsActive}
                        <a href="{Permalink}">{Username}</a>
                      {/block:IsActive}
                      {block:IsDeactivated}
                        <span>{Username}</span>
                      {/block:IsDeactivated}
                    </p>
                  </div>
                {/block:Reblogs}
              </div>
            {/block:RebloggedFrom}
          </div>
        {/block:Photo}

        <!--Legacy Photoset Posts-->
        {block:Photoset}
            <div class="post post-photoset">
                {Photoset}
                <!--Original Post-->
                {block:NotReblog}
                    {Caption}
                {/block:NotReblog}
                <!--Post is a reblog-->
                {block:RebloggedFrom}
                  <div class="reblog-trail">
                    {block:Reblogs}
                      <div class="reblog-trail-item">
                        <div class="reblog-trail-body">{Body}</div>
                        <p class="reblog-trail-user">
                          {block:IsActive}
                            <a href="{Permalink}">{Username}</a>
                          {/block:IsActive}
                          {block:IsDeactivated}
                            <span>{Username}</span>
                          {/block:IsDeactivated}
                        </p>
                      </div>
                    {/block:Reblogs}
                  </div>
                {/block:RebloggedFrom}

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
        {/block:Photoset}

        <!--Legacy Quote Posts-->
        {block:Quote}
            <div class="post post-quote">
                "{Quote}"
                {block:Source}
                    <div class="source">{Source}</div>
                {/block:Source}

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>	
            </div>
        {/block:Quote}

        <!--Legacy Link Posts-->
        {block:Link}
            <div class="post post-link">
                <a href="{URL}" class="link" {Target}>{Name}</a>
                <!--Original Post-->
                {block:NotReblog}
                    {Description}
                {/block:NotReblog}
                <!--Post is a reblog-->
                {block:RebloggedFrom}
                  <div class="reblog-trail">
                    {block:Reblogs}
                      <div class="reblog-trail-item">
                        <div class="reblog-trail-body">{Body}</div>
                        <p class="reblog-trail-user">
                          {block:IsActive}
                            <a href="{Permalink}">{Username}</a>
                          {/block:IsActive}
                          {block:IsDeactivated}  
                            <span>{Username}</span>
                          {/block:IsDeactivated}
                        </p>
                      </div>
                    {/block:Reblogs}
                  </div>
                {/block:RebloggedFrom}

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
        {/block:Link}

        <!--Legacy Chat Posts-->
        {block:Chat}
            <div class="post post-chat">
                {block:Title}
                    <h3><a href="{Permalink}">{Title}</a></h3>
                {/block:Title}

                <ul class="chat">
                    {block:Lines}
                        <li class="{Alt} user_{UserNumber}">
                            {block:Label}
                                <span class="label">{Label}</span>
                            {/block:Label}{Line}
                        </li>
                    {/block:Lines}
                </ul>

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>	
            </div>
        {/block:Chat}

        <!--Legacy Video Posts-->
        {block:Video}
            <div class="post post-video">
                {Video-700}
                <!--Original Post-->
                {block:NotReblog}
                    {Description}
                {/block:NotReblog}
                <!--Post is a reblog-->
                {block:RebloggedFrom}
                  <div class="reblog-trail">
                    {block:Reblogs}
                      <div class="reblog-trail-item">
                        <div class="reblog-trail-body">{Body}</div>
                        <p class="reblog-trail-user">
                          {block:IsActive}
                            <a href="{Permalink}">{Username}</a>
                          {/block:IsActive}
                          {block:IsDeactivated}
                            <span>{Username}</span>
                          {/block:IsDeactivated}
                        </p>
                        <div class="reblog-trail-body">{Body}</div>
                      </div>
                    {/block:Reblogs}
                  </div>
                {/block:RebloggedFrom}

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
        {/block:Video}

        <!--Legacy Audio Posts-->
        {block:Audio}
            <div class="post post-audio">
                {AudioEmbed}
                <!--Original Post-->
                {block:NotReblog}
                    {Description}
                {/block:NotReblog}
                <!--Post is a reblog-->
                {block:RebloggedFrom}
                  <div class="reblog-trail">
                    {block:Reblogs}
                      <div class="reblog-trail-item">
                        <div class="reblog-trail-body">{Body}</div>
                        <p class="reblog-trail-user">
                          {block:IsActive}
                            <a href="{Permalink}">{Username}</a>
                          {/block:IsActive}
                          {block:IsDeactivated}
                            <span>{Username}</span>
                          {/block:IsDeactivated}
                        </p>
                        <div class="reblog-trail-body">{Body}</div>
                      </div>
                    {/block:Reblogs}
                  </div>
                {/block:RebloggedFrom}

                <!-- リアクション数 -->
                <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
        {/block:Audio}

      {/block:Posts}
      
    </div>
    <!--ここからロード-->
    <div class="page-load-status">
      <div class="infinite-scroll-request">
        <div class="loader-ellips">
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
        </div>    
      </div>

      <p class="infinite-scroll-last">全て読み込みました</p>
      <p class="infinite-scroll-error">ページを読み込めません</p>
    </div>

    {block:Pagination}
      <div class="l-container">
      <div class="pagenation pagenation-index">
        {block:PreviousPage}
        <a href="{PreviousPage}" class="pager-prev">Prev</a>
        {/block:PreviousPage}
        {block:NextPage}
        <a href="{NextPage}" class="pager-next" rel="next">Next</a>
        {/block:NextPage}
      </div>
      </div>
    {/block:Pagination}

  {/block:IndexPage}

  <%# -- 個別 -- %>
  {block:PermalinkPage}
    
    {block:Posts}

     <!--NPF & Legacy Text Posts-->
      <%# post: text %>
      <!--NPF & Legacy Text Posts-->
      {block:Text}
        <div class="post post-text">
          {block:Title}
            <h3><a href="{Permalink}">{Title}</a></h3>
          {/block:Title}

          <!--Original Post-->
          {block:NotReblog}
            {Body}

            <div class="post_foot">
              <!-- 作成日 -->
              <p class="post_date">
                {block:Date}
                  <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
                {/block:Date}
              </p>
              <!-- リアクション数 -->
              <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
          {/block:NotReblog}

          <!--Post is a reblog-->
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                  <div class="reblog-trail-body">{Body}</div>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}

          <!-- リアクションボタン -->
          <!-- <ul class="post_buttons">
            <li class="post_button">{ReblogButton}</li>
            <li class="post_button">{LikeButton}</li>
          </ul> -->
        </div>
      {/block:Text}

      <!--Answer Posts-->
      {block:Answer}
        <div class="post post-answer">
          <p><strong>{Asker}</strong> asked:</p>
          {Question}
          {block:Answerer}
            {Answer}
          {/block:Answerer}
          {block:NotReblog}
            {Replies}
          {/block:NotReblog}
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Answer}

      <!--Photo Posts-->
      {block:Photo}
        <div class="post post-photo">
          <div class="post_photo">
            <img src="{PhotoURL-HighRes}" alt="{PhotoAlt}"/>
          </div>
          {block:NotReblog}
            {Caption}
            <div class="post_foot">
              <p class="post_date">
                {block:Date}
                  <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
                {/block:Date}
              </p>
              <p class="post_reaction">{NoteCountWithLabel}</p>
            </div>
          {/block:NotReblog}
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}
          {PostNotes}
        </div>
      {/block:Photo}

      <!--Photoset Posts-->
      {block:Photoset}
        <div class="post post-photoset">
          {Photoset}
          {block:NotReblog}
            {Caption}
          {/block:NotReblog}
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Photoset}

      <!--Quote Posts-->
      {block:Quote}
        <div class="post post-quote">
          <blockquote class="quote-text">"{Quote}"</blockquote>
          {block:Source}
            <div class="source">{Source}</div>
          {/block:Source}
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Quote}

      <!--Link Posts-->
      {block:Link}
        <div class="post post-link">
          <a href="{URL}" class="link" {Target}>{Name}</a>
          {block:NotReblog}
            {Description}
          {/block:NotReblog}
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Link}

      <!--Chat Posts-->
      {block:Chat}
        <div class="post post-chat">
          {block:Title}
            <h3>{Title}</h3>
          {/block:Title}
          <ul class="chat">
            {block:Lines}
              <li class="{Alt} user_{UserNumber}">
                {block:Label}
                  <span class="label">{Label}</span>
                {/block:Label}{Line}
              </li>
            {/block:Lines}
          </ul>
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Chat}

      <!--Video Posts-->
      {block:Video}
        <div class="post post-video">
          {Video-700}
          {block:NotReblog}
            {Description}
          {/block:NotReblog}
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Video}

      <!--Audio Posts-->
      {block:Audio}
        <div class="post post-audio">
          {AudioEmbed}
          {block:NotReblog}
            {Description}
          {/block:NotReblog}
          {block:RebloggedFrom}
            <div class="reblog-trail">
              {block:Reblogs}
                <div class="reblog-trail-item">
                  <div class="reblog-trail-body">{Body}</div>
                  <p class="reblog-trail-user">
                    {block:IsActive}
                      <a href="{Permalink}">{Username}</a>
                    {/block:IsActive}
                    {block:IsDeactivated}
                      <span>{Username}</span>
                    {/block:IsDeactivated}
                  </p>
                </div>
              {/block:Reblogs}
            </div>
          {/block:RebloggedFrom}
          <div class="post_foot">
            <p class="post_date">
              {block:Date}
                <span>{Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}</span>
              {/block:Date}
            </p>
            <p class="post_reaction">{NoteCountWithLabel}</p>
          </div>
          {PostNotes}
        </div>
      {/block:Audio}

    {/block:Posts}

  {/block:PermalinkPage}
</main>

<%- include('./partials/footer.ejs') %>